body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }



  .square {
    background: #fff;
    border: 1px solid #999;
    float: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: auto;
    margin-top: auto;
    padding: 1;
    text-align: center;
    width: 120px;
  }
  .box11{
    padding: 0;
    margin: 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
 }
 .box11 p {
    margin: 0; 
    padding: 0;
 }

 table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #DDDDDD;
}

table th,table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

.btn-stitch {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background:#AAAAAA;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #AAAAAA;
  border: dashed 1px #FFF;
}

.btn-stitch:hover {
  border: dotted 1px #FFF;
}



.btn-flat-double-border {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #999999;
  border: double 4px #999999;
  border-radius: 3px;
  transition: .4s;
}
.btn-flat-double-border:hover {
  background: #fffbef;
}

.font {
  font-size: 50px;
  font-family: "serif"; 

}